a{
    text-decoration: none;
    color: white;
    padding: 0rem 1rem;
}


.upload{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#photo{
    display: flex;
    justify-content: space-around;
}

img{
    padding: 1rem;
}