form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
}

#flash{
    text-align: center;
    color: red;
    background: black;
}